*.svg
*.fasta*
*.fa*
*.fna*
*.bam*
*.gz*
*.zip
**/*.bam
**/*.bam.bai
**/*.nextflow*
**/work
**/*.vcf
**/*.gtf
**/*.post_beta.csv
**/*.pre_beta.csv
*.snf
**/__pycache__
.snakemake
meth_atlas
resources/IlluminaEPIC_genomic_locations_hg38.csv
resources/hg38_no_alt.chrom_sizes
results/test1
results/test2
results/test3/wf-humvar/*
results/test4
results_debug
debug
logs
config/panel_metadata.csv
config/panel_metadata.scores.csv
results/test3/mod_calling/test3.wf_mods.all.dss_format.tsv
results/test3/mod_calling/test3.post_beta.csv
results/test3/mod_calling/test3.pre_beta.csv
**/*.dss_format.tsv
.nextflow
**/.nextflow.log*
**/work
**/*.bedmethyl.bed
results/test4predict/wf-humvar
**/wf-humvar/execution
**/wf-humvar/OPTIONAL_FILE
**/*.nextflow*
**/work
**/__pycache__
.snakemake
meth_atlas
resources/IlluminaEPIC_genomic_locations_hg38.csv
resources/hg38_no_alt.chrom_sizes
results/test1
results/test2
results/test3/wf-humvar/*
results/test4
results/test1
results/test2
results/test3/wf-humvar/*
results/test4
results_debug
debug
logs
config/panel_metadata.csv
config/panel_metadata.scores.csv
results/test3/mod_calling/test3.wf_mods.all.dss_format.tsv
results/test3/mod_calling/test3.post_beta.csv
results/test3/mod_calling/test3.pre_beta.csv
results/BCG_on_NMIBC/test5/mod_calling/test5.wf_mods.all.bedmethyl.bed
results/BCG_on_NMIBC/test5/mod_calling/test5.wf_mods.all.dss_format.tsv
results/BCG_on_NMIBC/test5/mod_calling/test5.post_beta.csv
results/BCG_on_NMIBC/test5/mod_calling/test5.pre_beta.csv
results/BCG_on_NMIBC/test5/wf-humvar/.nextflow
results/BCG_on_NMIBC/test5/wf-humvar/execution
results/BCG_on_NMIBC/test5/wf-humvar/work
results/BCG_on_NMIBC/test5/wf-humvar/OPTIONAL_FILE
results/BCG_on_NMIBC/test5/wf-humvar/test5.wf_sv.snf
results/test4predict/wf-humvar
resources/hg38.trf.bed
output/execution/trace.txt
