*.svg
*.fasta*
*.fa*
*.fna*
*.bam*
*.gz*
*.zip
**/*.vcf
**/*.gtf
**/*.post_beta.csv
**/*.pre_beta.csv
**/*.bedmethyl.bed
**/execution
**/OPTIONAL_FILE
*.snf
**/__pycache__
.snakemake
meth_atlas
resources/IlluminaEPIC_genomic_locations_hg38.csv
resources/hg38_no_alt.chrom_sizes
results/test1
results/test2
results/test3/wf-humvar/*
results/test4
results_debug
debug
logs
results/test3/mod_calling/test3.wf_mods.all.dss_format.tsv
results/test3/mod_calling/test3.post_beta.csv
results/test3/mod_calling/test3.pre_beta.csv
**/*.dss_format.tsv
.nextflow
**/.nextflow.log*
**/work
results/test4predict/wf-humvar
resources/hg38.trf.bed
results/20241002_BCG_on_NMIBC/test3/wf-humvar/test3.flagstat.tsv
results/20241002_BCG_on_NMIBC/test3/wf-humvar/test3.mosdepth.global.dist.txt
wf-human-variation_sha2b856c1f358ddf1576217a336bc0e9864b6dc0ed.sif
